@mixin flexes($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

// @mixin text($size, $weight, $line, $color) {
//   font-size: $size;
//   font-weight: $weight;
//   line-height: $line;
//   color: $color;
// }

p{
  color: #00CBB8;
  font-size: 36px;
  font-weight: 700;
  @include flexes (center, center);
}
.p_1 b{
  color: #2F327D;
  font-size: 36px;
  font-weight: 700;
}

.p_2{
  @include flexes (center, center);
  font-size: 24px;
  font-weight: 400;
  color: #696984;
  margin-top: 10px;
}